In [17]:
import csv
import pandas as pd
import datetime as dt
from datetime import datetime
from itertools import islice
import numpy as np
from openpyxl import load_workbook
import collections
import openpyxl as op
import math

In [18]:
beginning_date = dt.datetime(2011, 1, 1)
predict_thru = dt.datetime(2018, 8, 6)
fileName = "Small Data Set.xlsx"
r = 0.147642304763359
alpha = 0.351575403514246
a = 0.327857205096383
b = 1.36694414288691

In [19]:
exportFile = 'Model construction CWM bgnbd1.xlsx'
writer = pd.ExcelWriter(exportFile, engine = 'xlsxwriter')

In [20]:
def datevalue(date1):
    temp = dt.datetime(1899, 12, 30)    # Note, not 31st Dec but 30th!
    delta = date1 - temp
    return float(delta.days) + (float(delta.seconds) / 86400)

In [21]:
def valuedate(fh):
    fh = int(fh)
    return datetime.fromordinal(datetime(1900, 1, 1).toordinal() + fh - 2)

In [22]:
beginning_date = datevalue(beginning_date)
predict_thru = datevalue(predict_thru)

In [23]:
endDate = beginning_date + .5*(predict_thru-beginning_date)
firstTimeTo = beginning_date + .31 * .5 * (predict_thru-beginning_date)
print(endDate)

41931.0

In [24]:
# read file and drop the empty column
dfraw2 = pd.read_excel(fileName, sheet_name='Raw data2')
dfraw2 = dfraw2.drop(columns = ['Unnamed: 2'])

In [25]:
#create First Gift Column and reorder
allGiftDates = dfraw2.groupby(['Constituent ID']).describe()['Gift Date']['min']
allIDs = dfraw2.groupby(['Constituent ID']).describe()
my_list = []
for index, rows in dfraw2.iterrows():
    my_list.append(allGiftDates[(rows['Constituent ID'])])
    
dfraw2['First Gift Date'] = my_list

cols = list(dfraw2.columns.values)
dfraw2 = dfraw2[cols[0:2] + [cols[-1]] + cols[2:-1]]

In [26]:
adGiftList = [1]
for index, row in islice(dfraw2.iterrows(), 1, None):
    if(dfraw2.iloc[index-1, 0] != dfraw2.iloc[index, 0]):
        adGiftList.append(1)
    elif(dfraw2.iloc[index,4]>endDate):
            adGiftList.append(0)
    else:
        if(dfraw2.iloc[index-1, 0] == dfraw2.iloc[index, 0] and dfraw2.iloc[index-1, 4] != dfraw2.iloc[index, 4]):
            adGiftList.append(adGiftList[index-1] + 1)
        else:
            adGiftList.append(adGiftList[index-1])

dfraw2['adj. num gift'] = (adGiftList)

In [27]:
keepList = []
for index, row in islice(dfraw2.iterrows(), 1, None):
    if ((dfraw2.iloc[index-1, 3]<=endDate and dfraw2.iloc[index-1,0] != dfraw2.iloc[index,0]) or (dfraw2.iloc[index-1, 3]>endDate and dfraw2.iloc[index-1, 4]<=endDate and dfraw2.iloc[index, 4]>endDate)):
        keepList.append("")
    else:
        keepList.append(False)

        
if(dfraw2.iloc[-1, 3]<=endDate):
    keepList.append("")
else:
    keepList.append(False)
        
dfraw2['KEEP'] = (keepList)

In [28]:
rptList = [""]
for index, row in islice(dfraw2.iterrows(), 1, None):
    if (dfraw2.iloc[index-1, 0] == dfraw2.iloc[index, 0] and dfraw2.iloc[index, 4]>endDate and dfraw2.iloc[index-1, 4] == dfraw2.iloc[index, 4]):
        rptList.append("blah")
    else:
        rptList.append("")
        
dfraw2['rpt gift after cali'] = (rptList)

In [29]:
dfraw2
#df.to_excel(writer, 'Raw data2', index = False)
#writer.save()

,Constituent ID,Name,First Gift Date,Last Gift Date,Gift Date,Inactive?,adj. num gift,KEEP,rpt gift after cali
0,1927780,"Angeles, Joey D.",40547.0,43158,40547,False,1,False,
1,1927780,"Angeles, Joey D.",40547.0,43158,40578,False,2,False,
2,1927780,"Angeles, Joey D.",40547.0,43158,40606,False,3,False,
3,1927780,"Angeles, Joey D.",40547.0,43158,40637,False,4,False,
4,1927780,"Angeles, Joey D.",40547.0,43158,40667,False,5,False,
...,...,...,...,...,...,...,...,...,...
5584,1929858,"Grove, Karen E.",40970.0,42031,41828,False,4,,
5585,1929858,"Grove, Karen E.",40970.0,42031,42031,False,0,False,
5586,1929859,"Leipr, Michael H.",40970.0,40970,40970,True,1,,
5587,1929860,"Foy, Charles B.",40970.0,40970,40970,True,1,,
5588,1929861,"Keenan, Jonathan",40970.0,40970,40970,True,1,,

In [30]:
#figure out Query2

In [31]:
dfraw1 = pd.read_excel(writer, 'Raw data1')
dfraw1

,Constituent ID,Name,First Gift Date,Last Gift Date,Gift Date,Gift Amount,Gift Type,Inactive?,remove $0 & pledges
0,1927780,"Angeles, Joey D.",40547,43158,40547,50.0,Cash,False,NaN
1,1927780,"Angeles, Joey D.",40547,43158,40578,50.0,Cash,False,NaN
2,1927780,"Angeles, Joey D.",40547,43158,40606,50.0,Cash,False,NaN
3,1927780,"Angeles, Joey D.",40547,43158,40637,50.0,Cash,False,NaN
4,1927780,"Angeles, Joey D.",40547,43158,40667,50.0,Cash,False,NaN
...,...,...,...,...,...,...,...,...,...
5594,1929858,"Grove, Karen E.",40970,42031,41828,600.0,Cash,False,NaN
5595,1929858,"Grove, Karen E.",40970,42031,42031,600.0,Cash,False,NaN
5596,1929859,"Leipr, Michael H.",40970,40970,40970,750.0,Cash,True,NaN
5597,1929860,"Foy, Charles B.",40970,40970,40970,1200.0,Cash,True,NaN
5598,1929861,"Keenan, Jonathan",40970,40970,40970,600.0,Cash,True,NaN

In [32]:
removePledge0 = []
for index, rows in dfraw1.iterrows():
    if(dfraw1.iloc[index, 5] == 0 or dfraw1.iloc[index, 6] == ("Pledge")):
        removePledge0.append(True)
    else:
        removePledge0.append("")
dfraw1['remove $0 & pledges'] = (removePledge0)
dfraw1

,Constituent ID,Name,First Gift Date,Last Gift Date,Gift Date,Gift Amount,Gift Type,Inactive?,remove $0 & pledges
0,1927780,"Angeles, Joey D.",40547,43158,40547,50.0,Cash,False,
1,1927780,"Angeles, Joey D.",40547,43158,40578,50.0,Cash,False,
2,1927780,"Angeles, Joey D.",40547,43158,40606,50.0,Cash,False,
3,1927780,"Angeles, Joey D.",40547,43158,40637,50.0,Cash,False,
4,1927780,"Angeles, Joey D.",40547,43158,40667,50.0,Cash,False,
...,...,...,...,...,...,...,...,...,...
5594,1929858,"Grove, Karen E.",40970,42031,41828,600.0,Cash,False,
5595,1929858,"Grove, Karen E.",40970,42031,42031,600.0,Cash,False,
5596,1929859,"Leipr, Michael H.",40970,40970,40970,750.0,Cash,True,
5597,1929860,"Foy, Charles B.",40970,40970,40970,1200.0,Cash,True,
5598,1929861,"Keenan, Jonathan",40970,40970,40970,600.0,Cash,True,

In [33]:
dfdp1 = dfraw1.copy(deep=True)
pledgeor0 = dfdp1[dfdp1['remove $0 & pledges'] == True].index
dfdp1.drop(pledgeor0, inplace=True)
dfdp1 = dfdp1.reset_index(drop=True)
dfdp1

,Constituent ID,Name,First Gift Date,Last Gift Date,Gift Date,Gift Amount,Gift Type,Inactive?,remove $0 & pledges
0,1927780,"Angeles, Joey D.",40547,43158,40547,50.0,Cash,False,
1,1927780,"Angeles, Joey D.",40547,43158,40578,50.0,Cash,False,
2,1927780,"Angeles, Joey D.",40547,43158,40606,50.0,Cash,False,
3,1927780,"Angeles, Joey D.",40547,43158,40637,50.0,Cash,False,
4,1927780,"Angeles, Joey D.",40547,43158,40667,50.0,Cash,False,
...,...,...,...,...,...,...,...,...,...
5584,1929858,"Grove, Karen E.",40970,42031,41828,600.0,Cash,False,
5585,1929858,"Grove, Karen E.",40970,42031,42031,600.0,Cash,False,
5586,1929859,"Leipr, Michael H.",40970,40970,40970,750.0,Cash,True,
5587,1929860,"Foy, Charles B.",40970,40970,40970,1200.0,Cash,True,
5588,1929861,"Keenan, Jonathan",40970,40970,40970,600.0,Cash,True,

In [34]:
dfdp2 = dfraw2.drop(columns = 'rpt gift after cali')
falseKeep = dfdp2[dfdp2['KEEP'] == False].index
dfdp2.drop(falseKeep, inplace=True)
dfdp2 = dfdp2.reset_index(drop=True)
dfdp2

,Constituent ID,Name,First Gift Date,Last Gift Date,Gift Date,Inactive?,adj. num gift,KEEP
0,1927780,"Angeles, Joey D.",40547.0,43158,41718,False,26,
1,1927778,"Ayika, Christopher",40548.0,40548,40548,True,1,
2,1927784,"Boland, Patrick T.",40550.0,40613,40613,True,7,
3,1927785,"Callahan, Patrick J.",40554.0,40554,40554,True,1,
4,1927788,"Rowell, Esperanza",40557.0,42403,41660,False,4,
...,...,...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",40969.0,40969,40969,True,1,
2022,1929858,"Grove, Karen E.",40970.0,42031,41828,False,4,
2023,1929859,"Leipr, Michael H.",40970.0,40970,40970,True,1,
2024,1929860,"Foy, Charles B.",40970.0,40970,40970,True,1,
2025,1929861,"Keenan, Jonathan",40970.0,40970,40970,True,1,

In [35]:
dfmd = dfdp2[["Constituent ID", "Name"]]
dfmd["x (#donations)"] = dfdp2["adj. num gift"]-1
dfmd['t_x (last gift)'] = (dfdp2['Gift Date'] - dfdp2['First Gift Date'])/365

<ipython-input-35-ea6a9f9cc4ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmd["x (#donations)"] = dfdp2["adj. num gift"]-1
<ipython-input-35-ea6a9f9cc4ea>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmd['t_x (last gift)'] = (dfdp2['Gift Date'] - dfdp2['First Gift Date'])/365

In [36]:
tempDate = endDate+1
dfmd['T (total time span)'] = (tempDate - dfdp2['First Gift Date'])/365
dfmd

<ipython-input-36-0793d730c68b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmd['T (total time span)'] = (tempDate - dfdp2['First Gift Date'])/365

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span)
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521
1,1927778,"Ayika, Christopher",0,0.000000,3.791781
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123
...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616

In [37]:
df_BGNBD = dfmd.copy(deep=True)
donationNum = df_BGNBD['x (#donations)'].tolist()
lastGift = df_BGNBD['t_x (last gift)'].tolist()
T = df_BGNBD['T (total time span)'].tolist()

In [38]:
A4 = []
for index, rows in islice(df_BGNBD.iterrows(), 0, None):
    if donationNum[index]>0:
        A4.append(math.log(a)-math.log(b+donationNum[index]-1)-(r+donationNum[index])*math.log(alpha+lastGift[index]))
    else:
        A4.append(0)
df_BGNBD['ln(A_4)'] = (A4)
A_4 = df_BGNBD['ln(A_4)'].tolist()

In [39]:
A3 = []
for index, rows in islice(df_BGNBD.iterrows(), 0, None):
    A3.append(-(r+donationNum[index])*math.log(alpha+T[index]))
df_BGNBD['ln(A_3)'] = (A3)
A_3 = df_BGNBD['ln(A_3)'].tolist()

In [40]:
A2 = []
for index, rows in islice(df_BGNBD.iterrows(), 0, None):
    A2.append(math.lgamma(a+b)+math.lgamma(b+donationNum[index])-math.lgamma(b)-math.lgamma(a+b+donationNum[index]))
df_BGNBD['ln(A_2)'] = (A2)
A_2 = df_BGNBD['ln(A_2)'].tolist()

In [41]:
A1 = []
for index, rows in islice(df_BGNBD.iterrows(), 0, None):
    A1.append(math.lgamma(r+donationNum[index])-math.lgamma(r)+r*math.log(alpha))
df_BGNBD['ln(A_1)'] = (A1)
A_1 = df_BGNBD['ln(A_1)'].tolist()
df_BGNBD

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span),ln(A_4),ln(A_3),ln(A_2),ln(A_1)
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521,-36.278657,-35.764151,-1.048461,53.258612
1,1927778,"Ayika, Christopher",0,0.000000,3.791781,0.000000,-0.209874,0.000000,-0.154335
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301,1.004611,-8.730776,-0.619533,3.042515
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342,0.000000,-0.209288,0.000000,-0.154335
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123,-6.156554,-4.455605,-0.437634,-1.165218
...,...,...,...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356,0.000000,-0.161705,0.000000,-0.154335
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616,-5.458218,-3.444571,-0.437634,-1.165218
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616,0.000000,-0.161570,0.000000,-0.154335
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616,0.000000,-0.161570,0.000000,-0.154335
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616,0.000000,-0.161570,0.000000,-0.154335

In [42]:
ln = []
for index, rows in islice(df_BGNBD.iterrows(), 0, None):
    if donationNum[index]>0:
        ln.append(A_1[index]+A_2[index]+math.log(math.exp(A_3[index])+1*math.exp(A_4[index])))
    else:
        ln.append(A_1[index]+A_2[index]+math.log(math.exp(A_3[index])+0*math.exp(A_4[index])))
df_BGNBD['ln(.)'] = (ln)

In [43]:
BGNBDcols = list(df_BGNBD.columns.values)
df_BGNBD = df_BGNBD[BGNBDcols[0:5] + [BGNBDcols[-1]] + [BGNBDcols[-2]] + [BGNBDcols[-3]] + [BGNBDcols[-4]] + [BGNBDcols[-5]]]
df_BGNBD

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span),ln(.),ln(A_1),ln(A_2),ln(A_3),ln(A_4)
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521,16.914625,53.258612,-1.048461,-35.764151,-36.278657
1,1927778,"Ayika, Christopher",0,0.000000,3.791781,-0.364210,-0.154335,0.000000,-0.209874,0.000000
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301,3.427652,3.042515,-0.619533,-8.730776,1.004611
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342,-0.363623,-0.154335,0.000000,-0.209288,0.000000
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123,-5.890817,-1.165218,-0.437634,-4.455605,-6.156554
...,...,...,...,...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356,-0.316040,-0.154335,0.000000,-0.161705,0.000000
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616,-4.922112,-1.165218,-0.437634,-3.444571,-5.458218
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616,-0.315905,-0.154335,0.000000,-0.161570,0.000000
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616,-0.315905,-0.154335,0.000000,-0.161570,0.000000
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616,-0.315905,-0.154335,0.000000,-0.161570,0.000000

In [44]:
df_ext = pd.DataFrame()
tuntil = (predict_thru - beginning_date + 1)/365
print(tuntil)
n = 1/365
t = [n]
while n <= tuntil:
    n = n + (1/365)
    t.append(n)
df_ext['t'] = t
df_ext['E(X(t))'] = 0
df_ext['2F1'] = 0
df_ext

7.602739726027397

             t  E(X(t))  2F1
0     0.002740        0    0
1     0.005479        0    0
2     0.008219        0    0
3     0.010959        0    0
4     0.013699        0    0
...        ...      ...  ...
2770  7.591781        0    0
2771  7.594521        0    0
2772  7.597260        0    0
2773  7.600000        0    0
2774  7.602740        0    0

[2775 rows x 3 columns]

In [45]:
z=[]
for index, rows in islice(df_ext.iterrows(), 0, None):
    z.append(df_ext.iloc[index,0] / (alpha + df_ext.iloc[index,0]))
df_ext['z']=z
df_ext['0'] = 1
df_ext

             t  E(X(t))  2F1         z  0
0     0.002740        0    0  0.007732  1
1     0.005479        0    0  0.015346  1
2     0.008219        0    0  0.022844  1
3     0.010959        0    0  0.030229  1
4     0.013699        0    0  0.037502  1
...        ...      ...  ...       ... ..
2770  7.591781        0    0  0.955740  1
2771  7.594521        0    0  0.955755  1
2772  7.597260        0    0  0.955770  1
2773  7.600000        0    0  0.955785  1
2774  7.602740        0    0  0.955801  1

[2775 rows x 5 columns]

In [46]:
count = 1
ext_cols = []
extCond = True
while (extCond):
    for index, rows in islice(df_ext.iterrows(), 0, None):
        ext_cols.append(df_ext.iloc[index, count+3]*df_ext.iloc[index, 3]*(r+count-1)*(b+count-1)/((a+b-1+count-1)*count))
    if (ext_cols[-1] < 9e-11):
        extCond = False
    else:
        df_ext[str(count)] = ext_cols
        count = count + 1
        ext_cols = [];
df_ext

,t,E(X(t)),2F1,z,0,1,2,3,4,5,...,445,446,447,448,449,450,451,452,453,454
0,0.002740,0,0,0.007732,1,0.002246,0.000014,9.626067e-08,6.922743e-10,5.076178e-12,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,0.005479,0,0,0.015346,1,0.004458,0.000055,7.524941e-07,1.074032e-08,1.563006e-10,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0.008219,0,0,0.022844,1,0.006636,0.000121,2.482092e-06,5.273556e-08,1.142401e-09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,0.010959,0,0,0.030229,1,0.008780,0.000213,5.751096e-06,1.616890e-07,4.634893e-09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,0.013699,0,0,0.037502,1,0.010893,0.000327,1.098175e-05,3.830380e-07,1.362201e-08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2770,7.591781,0,0,0.955740,1,0.277613,0.212631,1.817672e-01,1.615723e-01,1.464360e-01,...,1.380304e-10,1.318676e-10,1.259800e-10,1.203555e-10,1.149821e-10,1.098488e-10,1.049447e-10,1.002596e-10,9.578381e-11,9.150788e-11
2771,7.594521,0,0,0.955755,1,0.277618,0.212637,1.817759e-01,1.615826e-01,1.464476e-01,...,1.390146e-10,1.328100e-10,1.268824e-10,1.212195e-10,1.158094e-10,1.106409e-10,1.057031e-10,1.009858e-10,9.647913e-11,9.217364e-11
2772,7.597260,0,0,0.955770,1,0.277622,0.212644,1.817846e-01,1.615930e-01,1.464593e-01,...,1.400052e-10,1.337585e-10,1.277906e-10,1.220891e-10,1.166421e-10,1.114382e-10,1.064665e-10,1.017168e-10,9.717900e-11,9.284376e-11
2773,7.600000,0,0,0.955785,1,0.277627,0.212651,1.817933e-01,1.616033e-01,1.464710e-01,...,1.410021e-10,1.347131e-10,1.287046e-10,1.229643e-10,1.174801e-10,1.122406e-10,1.072349e-10,1.024525e-10,9.788346e-11,9.351828e-11
2774,7.602740,0,0,0.955801,1,0.277631,0.212658,1.818019e-01,1.616136e-01,1.464827e-01,...,1.420054e-10,1.356738e-10,1.296246e-10,1.238452e-10,1.183236e-10,1.130483e-10,1.080082e-10,1.031930e-10,9.859251e-11,9.419722e-11

In [47]:
df_save = df_ext
df_save

,t,E(X(t)),2F1,z,0,1,2,3,4,5,...,445,446,447,448,449,450,451,452,453,454
0,0.002740,0,0,0.007732,1,0.002246,0.000014,9.626067e-08,6.922743e-10,5.076178e-12,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,0.005479,0,0,0.015346,1,0.004458,0.000055,7.524941e-07,1.074032e-08,1.563006e-10,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0.008219,0,0,0.022844,1,0.006636,0.000121,2.482092e-06,5.273556e-08,1.142401e-09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,0.010959,0,0,0.030229,1,0.008780,0.000213,5.751096e-06,1.616890e-07,4.634893e-09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,0.013699,0,0,0.037502,1,0.010893,0.000327,1.098175e-05,3.830380e-07,1.362201e-08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2770,7.591781,0,0,0.955740,1,0.277613,0.212631,1.817672e-01,1.615723e-01,1.464360e-01,...,1.380304e-10,1.318676e-10,1.259800e-10,1.203555e-10,1.149821e-10,1.098488e-10,1.049447e-10,1.002596e-10,9.578381e-11,9.150788e-11
2771,7.594521,0,0,0.955755,1,0.277618,0.212637,1.817759e-01,1.615826e-01,1.464476e-01,...,1.390146e-10,1.328100e-10,1.268824e-10,1.212195e-10,1.158094e-10,1.106409e-10,1.057031e-10,1.009858e-10,9.647913e-11,9.217364e-11
2772,7.597260,0,0,0.955770,1,0.277622,0.212644,1.817846e-01,1.615930e-01,1.464593e-01,...,1.400052e-10,1.337585e-10,1.277906e-10,1.220891e-10,1.166421e-10,1.114382e-10,1.064665e-10,1.017168e-10,9.717900e-11,9.284376e-11
2773,7.600000,0,0,0.955785,1,0.277627,0.212651,1.817933e-01,1.616033e-01,1.464710e-01,...,1.410021e-10,1.347131e-10,1.287046e-10,1.229643e-10,1.174801e-10,1.122406e-10,1.072349e-10,1.024525e-10,9.788346e-11,9.351828e-11
2774,7.602740,0,0,0.955801,1,0.277631,0.212658,1.818019e-01,1.616136e-01,1.464827e-01,...,1.420054e-10,1.356738e-10,1.296246e-10,1.238452e-10,1.183236e-10,1.130483e-10,1.080082e-10,1.031930e-10,9.859251e-11,9.419722e-11

In [70]:
df_ext = df_save
ext = []
df_ext['2F1'] = df_ext.iloc[:,4:-1].sum(axis=1)
extConst = (a+b-1)/(a-1)
print(extConst)
for index, rows in islice(df_ext.iterrows(), 0, None):
    ext.append(extConst*(1-pow((alpha/(alpha+df_ext.iloc[index,0])),r) * df_ext.iloc[index,2]))
df_ext['E(X(t))'] = ext
df_ext

-1.0337109216248093

,t,E(X(t)),2F1,z,0,1,2,3,4,5,...,445,446,447,448,449,450,451,452,453,454
0,0.002740,0.001150,1.002260,0.007732,1,0.002246,0.000014,9.626067e-08,6.922743e-10,5.076178e-12,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,0.005479,0.002297,1.004513,0.015346,1,0.004458,0.000055,7.524941e-07,1.074032e-08,1.563006e-10,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0.008219,0.003443,1.006760,0.022844,1,0.006636,0.000121,2.482092e-06,5.273556e-08,1.142401e-09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,0.010959,0.004586,1.008999,0.030229,1,0.008780,0.000213,5.751096e-06,1.616890e-07,4.634893e-09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,0.013699,0.005728,1.011232,0.037502,1,0.010893,0.000327,1.098175e-05,3.830380e-07,1.362201e-08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2770,7.591781,1.805653,4.352388,0.955740,1,0.277613,0.212631,1.817672e-01,1.615723e-01,1.464360e-01,...,1.380304e-10,1.318676e-10,1.259800e-10,1.203555e-10,1.149821e-10,1.098488e-10,1.049447e-10,1.002596e-10,9.578381e-11,9.150788e-11
2771,7.594521,1.806151,4.353372,0.955755,1,0.277618,0.212637,1.817759e-01,1.615826e-01,1.464476e-01,...,1.390146e-10,1.328100e-10,1.268824e-10,1.212195e-10,1.158094e-10,1.106409e-10,1.057031e-10,1.009858e-10,9.647913e-11,9.217364e-11
2772,7.597260,1.806649,4.354357,0.955770,1,0.277622,0.212644,1.817846e-01,1.615930e-01,1.464593e-01,...,1.400052e-10,1.337585e-10,1.277906e-10,1.220891e-10,1.166421e-10,1.114382e-10,1.064665e-10,1.017168e-10,9.717900e-11,9.284376e-11
2773,7.600000,1.807146,4.355341,0.955785,1,0.277627,0.212651,1.817933e-01,1.616033e-01,1.464710e-01,...,1.410021e-10,1.347131e-10,1.287046e-10,1.229643e-10,1.174801e-10,1.122406e-10,1.072349e-10,1.024525e-10,9.788346e-11,9.351828e-11
2774,7.602740,1.807644,4.356326,0.955801,1,0.277631,0.212658,1.818019e-01,1.616136e-01,1.464827e-01,...,1.420054e-10,1.356738e-10,1.296246e-10,1.238452e-10,1.183236e-10,1.130483e-10,1.080082e-10,1.031930e-10,9.859251e-11,9.419722e-11

In [69]:
print(ext)

[0.0011495415067746663, 0.0022971087890703355, 0.003442717888319279, 0.004586384603530907, 0.005728124496683432, 0.006867952897953701, 0.008005884910798997, 0.009141935416887561, 0.010276119080892338, 0.011408450355141927, 0.012538943484146465, 0.013667612508988757, 0.014794471271601106, 0.01591953341891614, 0.017042812406907224, 0.018164321504517775, 0.019284073797483866, 0.020402082192052605, 0.021518359418601585, 0.02263291803516265, 0.023745770430851045, 0.02485692882920509, 0.025966405291440002, 0.027074211719614247, 0.028180359859717646, 0.029284861304677758, 0.030387727497290736, 0.0314889697330799, 0.03258859916307904, 0.03368662679654861, 0.034783063503623673, 0.03587792001789695, 0.036971206938939336, 0.03806293473475609, 0.039153113744186785, 0.040241754179245845, 0.041328866127407736, 0.04241445955383708, 0.0434985443035678, 0.044581130103626986, 0.04566222656511487, 0.04674184318523182, 0.04781998934925941, 0.04889667433249995, 0.049971907302164824, 0.0510456973192254, 0.05211805334022063, 0.05318898421902254, 0.05425849870856532, 0.055326605462533256, 0.0563933130370113, 0.05745862989210232, 0.05852256439350698, 0.05958512481406824, 0.06064631933528506, 0.06170615604879042, 0.06276464295780282, 0.06382178797853902, 0.06487759894160575, 0.06593208359335613, 0.06698524959721855, 0.06803710453500071, 0.0690876559081632, 0.07013691113906867, 0.07118487757220633, 0.0722315624753874, 0.07327697304092154, 0.07432111638676658, 0.07536399955765431, 0.07640562952619684, 0.07744601319396675, 0.07848515739256122, 0.07952306888464021, 0.08055975436494571, 0.08159522046130377, 0.08262947373560353, 0.08366252068475842, 0.08469436774165076, 0.08572502127605432, 0.08675448759554555, 0.08778277294638749, 0.08880988351440952, 0.08983582542586176, 0.09086060474825389, 0.09188422749118338, 0.09290669960714344, 0.09392802699232053, 0.09494821548737077, 0.09596727087818945, 0.09698519889666256, 0.09800200522140426, 0.09901769547848195, 0.1000322752421313, 0.1010457500354519, 0.10205812533109518, 0.10306940655194292, 0.10407959907176553, 0.10508870821587458, 0.10609673926176556, 0.1071036974397423, 0.10810958793353796, 0.10911441588092166, 0.11011818637429292, 0.1111209044612716, 0.11212257514527259, 0.11312320338607233, 0.11412279410036635, 0.11512135216231849, 0.11611888240409665, 0.1171153896164046, 0.11811087854900212, 0.11910535391121613, 0.12009882037244751, 0.12109128256266183, 0.12208274507288171, 0.12307321245566234, 0.1240626892255649, 0.1250511798596203, 0.12603868879778576, 0.12702522044339387, 0.12801077916359446, 0.12899536928979005, 0.129978995118063, 0.13096166090959835, 0.13194337089109695, 0.13292412925518488, 0.13390394016081575, 0.1348828077336632, 0.13586073606651475, 0.13683772921965134, 0.1378137912212274, 0.13878892606764273, 0.13976313772390644, 0.14073643012399886, 0.14170880717122866, 0.14268027273857675, 0.14365083066904952, 0.14462048477600742, 0.14558923884350988, 0.14655709662663746, 0.1475240618518187, 0.14849013821715062, 0.14945532939271056, 0.15041963902087027, 0.15138307071660015, 0.15234562806776822, 0.1533073146354419, 0.15426813395417713, 0.15522808953230616, 0.1561871848522266, 0.15714542337067625, 0.15810280851901257, 0.15905934370348368, 0.16001503230549768, 0.16096987768188853, 0.1619238831651729, 0.16287705206381242, 0.16382938766246444, 0.16478089322223222, 0.165731571980915, 0.16668142715324638, 0.16763046193113892, 0.16857867948391714, 0.16952608295855376, 0.1704726754798986, 0.1714184601509072, 0.17236344005286214, 0.1733076182455971, 0.17425099776771336, 0.1751935816367955, 0.1761353728496228, 0.17707637438238072, 0.17801658919086644, 0.1789560202106916, 0.17989467035748563, 0.1808325425270946, 0.18176963959577414, 0.18270596442038672, 0.1836415198385905, 0.18457630866902794, 0.18551033371151274, 0.1864435977472125, 0.18737610353883102, 0.18830785383078674, 0.18923885134938875, 0.1901690988030126, 0.19109859888227207, 0.19202735426018847, 0.19295536759235885, 0.19388264151712237, 0.19480917865572445, 0.19573498161247688, 0.19666005297491923, 0.19758439531397318, 0.1985080111841035, 0.19943090312346706, 0.20035307365406885, 0.20127452528190698, 0.20219526049712716, 0.20311528177416213, 0.20403459157188253, 0.20495319233373688, 0.20587108648789107, 0.20678827644737133, 0.20770476461020076, 0.20862055335953336, 0.20953564506379257, 0.21045004207680004, 0.21136374673790856, 0.2122767613721331, 0.21318908829027705, 0.2141007297890596, 0.21501168815124344, 0.21592196564575278, 0.21683156452780208, 0.21774048703901147, 0.21864873540753033, 0.21955631184815522, 0.22046321856244064, 0.2213694577388243, 0.22227503155273176, 0.22317994216669693, 0.22408419173046593, 0.22498778238111508, 0.2258907162431542, 0.2267929954286362, 0.2276946220372647, 0.22859559815649755, 0.2294959258616515, 0.23039560721600527, 0.23129464427090302, 0.23219303906585248, 0.23309079362862414, 0.2339879099753534, 0.2348843901106346, 0.23578023602761738, 0.23667544970810492, 0.23757003312264566, 0.2384639882306251, 0.23935731698036194, 0.240250021309196, 0.2411421031435801, 0.24203356439916798, 0.24292440698090412, 0.24381463278310872, 0.24470424368956628, 0.24559324157361037, 0.24648162829820855, 0.24736940571604285, 0.24825657566959738, 0.24914313999123708, 0.2500291005032899, 0.25091445901812504, 0.2517992173382347, 0.25268337725631235, 0.2535669405553277, 0.25444990900860726, 0.2553322843799055, 0.256214068423487, 0.2570952628841935, 0.2579758694975245, 0.2588558899897018, 0.25973532607775196, 0.2606141794695692, 0.2614924518639907, 0.2623701449508645, 0.26324726041111907, 0.26412379991683455, 0.26499976513130574, 0.26587515770911396, 0.2667499792961907, 0.26762423152988435, 0.26849791603902584, 0.2693710344439926, 0.27024358835677276, 0.2711155793810284, 0.2719870091121582, 0.272857879137358, 0.27372819103568574, 0.27459794637811913, 0.2754671467276165, 0.27633579363917615, 0.2772038886598975, 0.27807143332903816, 0.27893842917806955, 0.27980487773073814, 0.28067078050311955, 0.2815361390036775, 0.2824009547333141, 0.28326522918543173, 0.28412896384598285, 0.28499216019352736, 0.2858548196992818, 0.2867169438271769, 0.2875785340339087, 0.2884395917689898, 0.28930011847480114, 0.2901601155866429, 0.29101958453278687, 0.29187852673452325, 0.29273694360621555, 0.29359483655534285, 0.29445220698255453, 0.29530905628171616, 0.2961653858399567, 0.2970211970377159, 0.2978764912487931, 0.2987312698403935, 0.2995855341731707, 0.3004392856012765, 0.3012925254724041, 0.3021452551278354, 0.3029974759024802, 0.3038491891249257, 0.30470039611747735, 0.3055510981962026, 0.30640129667097477, 0.30725099284551083, 0.3081001880174221, 0.30894888347824817, 0.30979708051350036, 0.31064478040270455, 0.3114919844194399, 0.3123386938313808, 0.31318490990033354, 0.3140306338822788, 0.3148758670274102, 0.3157206105801725, 0.3165648657793, 0.31740863385785406, 0.3182519160432641, 0.31909471355736063, 0.3199370276164152, 0.32077885943117684, 0.3216202102069068, 0.32246108114341726, 0.323301473435108, 0.3241413882709952, 0.32498082683475493, 0.325819790304754, 0.3266582798540843, 0.32749629665059893, 0.3283338418569451, 0.32917091663059816, 0.3300075221238959, 0.3308436594840673, 0.3316793298532744, 0.3325145343686345, 0.3333492741622607, 0.3341835503612899, 0.33501736408791527, 0.33585071645941805, 0.33668360858819907, 0.3375160415818092, 0.33834801654297925, 0.3391795345696545, 0.3400105967550191, 0.34084120418753017, 0.34167135795094555, 0.34250105912435713, 0.34333030878221177, 0.34415910799434984, 0.34498745782602824, 0.34581535933795027, 0.3466428135862963, 0.34746982162274437, 0.34829638449450867, 0.34912250324435995, 0.34994817891065416, 0.35077341252736055, 0.35159820512408746, 0.3524225577261115, 0.35324647135440274, 0.3540699470256474, 0.35489298575228045, 0.35571558854250723, 0.3565377564003305, 0.35735949032557474, 0.35818079131391317, 0.35900166035689096, 0.3598220984419523, 0.36064210655246287, 0.361461685667735, 0.36228083676305417, 0.36309956080969846, 0.36391785877496663, 0.36473573162220096, 0.3655531803108074, 0.36637020579628504, 0.36718680903024487, 0.36800299096043265, 0.3688187525307535, 0.36963409468129443, 0.37044901834834654, 0.37126352446442445, 0.3720776139582943, 0.37289128775499125, 0.3737045467758412, 0.3745173919384847, 0.3753298241568975, 0.3761418443414094, 0.37695345339872977, 0.37776465223196626, 0.37857544174064545, 0.37938582282073147, 0.3801957963646516, 0.38100536326131085, 0.3818145243961172, 0.3826232806509986, 0.38343163290442295, 0.3842395820314195, 0.3850471289035951, 0.38585427438915865, 0.3866610193529363, 0.38746736465639114, 0.3882733111576444, 0.3890788597114907, 0.3898840111694217, 0.3906887663796399, 0.3914931261870795, 0.39229709143342395, 0.3931006629571257, 0.39390384159342035, 0.39470662817434965, 0.3955090235287759, 0.3963110284823998, 0.39711264385777983, 0.3979138704743467, 0.3987147091484242, 0.3995151606932434, 0.4003152259189602, 0.40111490563267344, 0.4019142006384424, 0.4027131117372971, 0.4035116397272664, 0.4043097854033833, 0.40510754955770567, 0.4059049329793337, 0.40670193645442565, 0.4074985607662103, 0.408294806695006, 0.40909067501823626, 0.40988616651044485, 0.4106812819433109, 0.4114760220856645, 0.41227038770350155, 0.41306437955999953, 0.4138579984155338, 0.4146512450276895, 0.41544412015127874, 0.41623662453835536, 0.4170287589382279, 0.4178205240974752, 0.41861192075996145, 0.4194029496668495, 0.4201936115566159, 0.4209839071650629, 0.4217738372253369, 0.4225634024679387, 0.4233526036207369, 0.4241414414089843, 0.4249299165553302, 0.4257180297798353, 0.4265057817999828, 0.4272931733306919, 0.42808020508433464, 0.42886687777074456, 0.42965319209723446, 0.4304391487686033, 0.4312247484871555, 0.4320099919527096, 0.4327948798626138, 0.4335794129117558, 0.43436359179257644, 0.43514741719508504, 0.43593088980686673, 0.43671401031309903, 0.4374967793965622, 0.4382791977376504, 0.4390612660143872, 0.43984298490243423, 0.4406243550751049, 0.44140537720337414, 0.4421860519558939, 0.4429663799990024, 0.44374636199673434, 0.44452599861083514, 0.44530529050077194, 0.4460842383237437, 0.446862842734694, 0.44764110438632143, 0.4484190239290886, 0.44919660201124006, 0.4499738392788029, 0.45075073637561025, 0.4515272939433003, 0.452303512621333, 0.4530793930470037, 0.45385493585544523, 0.45463014167964694, 0.4554050111504607, 0.4561795448966122, 0.4569537435447118, 0.4577276077192642, 0.45850113804268045, 0.45927433513528476, 0.4600471996153293, 0.46081973209899796, 0.46159193320042424, 0.4623638035316956, 0.4631353437028622, 0.46390655432195305, 0.4646774359949791, 0.46544798932594833, 0.4662182149168697, 0.46698811336776935, 0.4677576852766948, 0.468526931239726, 0.4692958518509846, 0.4700644477026456, 0.47083271938494237, 0.4716006674861807, 0.47236829259274316, 0.47313559528910126, 0.47390257615782344, 0.4746692357795849, 0.4754355747331752, 0.47620159359550956, 0.47696729294163304, 0.4777326733447336, 0.4784977353761509, 0.47926247960538165, 0.4800269066000918, 0.48079101692612164, 0.48155481114749676, 0.4823182898264358, 0.4830814535233586, 0.48384430279689616, 0.48460683820389466, 0.4853690602994297, 0.48613096963681035, 0.4868925667675868, 0.4876538522415614, 0.4884148266067956, 0.4891754904096165, 0.4899358441946277, 0.4906958885047135, 0.49145562388104963, 0.49221505086310996, 0.4929741699886744, 0.4937329817938374, 0.4944914868130137, 0.49524968557894716, 0.4960075786227193, 0.4967651664737556, 0.49752244965983217, 0.49827942870708547, 0.499036104140017, 0.4997924764815043, 0.5005485462528033, 0.5013043139735615, 0.5020597801618193, 0.5028149453340216, 0.503569810005023, 0.5043243746880937, 0.5050786398949311, 0.5058326061356597, 0.506586273918847, 0.507339643751501, 0.5080927161390851, 0.5088454915855184, 0.5095979705931891, 0.5103501536629543, 0.5111020412941515, 0.5118536339846068, 0.5126049322306354, 0.5133559365270508, 0.5141066473671759, 0.5148570652428434, 0.5156071906444063, 0.5163570240607392, 0.5171065659792545, 0.5178558168858957, 0.5186047772651556, 0.5193534476000755, 0.5201018283722552, 0.5208499200618558, 0.5215977231476099, 0.5223452381068238, 0.5230924654153863, 0.523839405547776, 0.5245860589770617, 0.5253324261749152, 0.5260785076116145, 0.5268243037560467, 0.5275698150757183, 0.5283150420367608, 0.5290599851039347, 0.5298046447406356, 0.5305490214088991, 0.531293115569412, 0.532036927681509, 0.5327804582031873, 0.5335237075911068, 0.5342666763005965, 0.5350093647856615, 0.5357517734989886, 0.5364939028919513, 0.5372357534146142, 0.5379773255157402, 0.5387186196427944, 0.5394596362419529, 0.5402003757581036, 0.5409408386348534, 0.5416810253145362, 0.5424209362382129, 0.5431605718456819, 0.5438999325754811, 0.5446390188648963, 0.5453778311499597, 0.5461163698654634, 0.5468546354449598, 0.5475926283207676, 0.5483303489239769, 0.5490677976844536, 0.5498049750308471, 0.5505418813905912, 0.5512785171899125, 0.5520148828538349, 0.5527509788061806, 0.5534868054695804, 0.5542223632654767, 0.5549576526141273, 0.55569267393461, 0.5564274276448296, 0.55716191416152, 0.5578961339002523, 0.558630087275434, 0.5593637747003211, 0.560097196587015, 0.5608303533464755, 0.5615632453885167, 0.5622958731218178, 0.5630282369539243, 0.5637603372912564, 0.5644921745391092, 0.5652237491016583, 0.565955061381967, 0.5666861117819877, 0.5674169007025667, 0.5681474285434505, 0.5688776957032875, 0.5696077025796376, 0.5703374495689661, 0.5710669370666611, 0.5717961654670277, 0.5725251351632972, 0.5732538465476299, 0.5739823000111194, 0.5747104959437968, 0.5754384347346367, 0.5761661167715543, 0.576893542441422, 0.5776207121300618, 0.578347626222255, 0.5790742851017451, 0.5798006891512444, 0.580526838752431, 0.5812527342859617, 0.5819783761314692, 0.5827037646675702, 0.5834289002718683, 0.584153783320953, 0.5848784141904141, 0.5856027932548343, 0.5863269208878031, 0.5870507974619119, 0.5877744233487636, 0.5884977989189735, 0.589220924542176, 0.5899438005870241, 0.5906664274211977, 0.5913888054114036, 0.5921109349233824, 0.5928328163219101, 0.5935544499708016, 0.594275836232915, 0.5949969754701572, 0.5957178680434844, 0.5964385143129055, 0.597158914637489, 0.5978790693753668, 0.5985989788837293, 0.5993186435188417, 0.600038063636038, 0.6007572395897286, 0.6014761717334027, 0.6021948604196311, 0.6029133060000708, 0.6036315088254698, 0.6043494692456662, 0.605067187609595, 0.6057846642652909, 0.6065018995598933, 0.6072188938396438, 0.6079356474498965, 0.6086521607351177, 0.6093684340388894, 0.610084467703913, 0.6108002620720125, 0.6115158174841394, 0.6122311342803719, 0.6129462127999222, 0.6136610533811384, 0.6143756563615057, 0.6150900220776523, 0.6158041508653518, 0.6165180430595256, 0.6172316989942475, 0.6179451190027432, 0.6186583034173998, 0.6193712525697604, 0.6200839667905363, 0.6207964464096027, 0.6215086917560069, 0.6222207031579667, 0.6229324809428779, 0.6236440254373123, 0.6243553369670288, 0.6250664158569645, 0.625777262431249, 0.6264878770132013, 0.627198259925334, 0.627908411489355, 0.6286183320261747, 0.629328021855903, 0.6300374812978548, 0.6307467106705569, 0.6314557102917409, 0.6321644804783584, 0.6328730215465733, 0.6335813338117706, 0.6342894175885582, 0.634997273190766, 0.6357049009314548, 0.6364123011229144, 0.637119474076666, 0.6378264201034708, 0.6385331395133251, 0.6392396326154683, 0.6399458997183839, 0.6406519411297993, 0.6413577571566951, 0.6420633481053021, 0.6427687142811053, 0.6434738559888487, 0.6441787735325332, 0.6448834672154248, 0.6455879373400532, 0.6462921842082169, 0.6469962081209831, 0.6477000093786937, 0.6484035882809636, 0.6491069451266877, 0.6498100802140397, 0.6505129938404759, 0.6512156863027403, 0.6519181578968624, 0.6526204089181632, 0.6533224396612559, 0.6540242504200494, 0.6547258414877498, 0.6554272131568628, 0.6561283657191981, 0.6568292994658698, 0.6575300146872987, 0.658230511673215, 0.6589307907126628, 0.6596308520939997, 0.6603306961048979, 0.6610303230323519, 0.6617297331626766, 0.6624289267815117, 0.6631279041738201, 0.6638266656238951, 0.6645252114153601, 0.6652235418311739, 0.665921657153627, 0.6666195576643489, 0.6673172436443097, 0.6680147153738186, 0.6687119731325329, 0.6694090171994546, 0.6701058478529329, 0.6708024653706705, 0.6714988700297214, 0.6721950621064949, 0.6728910418767582, 0.6735868096156393, 0.6742823655976243, 0.6749777100965679, 0.6756728433856855, 0.6763677657375659, 0.6770624774241645, 0.6777569787168093, 0.6784512698862053, 0.6791453512024318, 0.6798392229349468, 0.680532885352588, 0.6812263387235804, 0.6819195833155279, 0.6826126193954254, 0.6833054472296544, 0.6839980670839866, 0.6846904792235904, 0.6853826839130251, 0.6860746814162495, 0.6867664719966191, 0.6874580559168916, 0.6881494334392285, 0.6888406048251926, 0.6895315703357575, 0.6902223302313034, 0.6909128847716215, 0.6916032342159143, 0.6922933788228024, 0.6929833188503176, 0.693673054555915, 0.6943625861964671, 0.6950519140282678, 0.6957410383070389, 0.6964299592879236, 0.6971186772254945, 0.6978071923737545, 0.6984955049861363, 0.6991836153155088, 0.6998715236141727, 0.7005592301338661, 0.7012467351257691, 0.7019340388404984, 0.7026211415281137, 0.7033080434381209, 0.70399474481947, 0.7046812459205624, 0.7053675469892403, 0.7060536482728073, 0.7067395500180143, 0.707425252471067, 0.7081107558776294, 0.7087960604828233, 0.7094811665312305, 0.7101660742668929, 0.7108507839333189, 0.7115352957734793, 0.712219610029811, 0.7129037269442242, 0.7135876467580932, 0.7142713697122673, 0.7149548960470709, 0.7156382260023013, 0.71632135981723, 0.7170042977306147, 0.7176870399806855, 0.7183695868051577, 0.7190519384412306, 0.7197340951255872, 0.7204160570943972, 0.7210978245833208, 0.7217793978275018, 0.7224607770615858, 0.7231419625197005, 0.7238229544354755, 0.7245037530420348, 0.7251843585719995, 0.7258647712574897, 0.726544991330126, 0.7272250190210345, 0.7279048545608426, 0.7285844981796833, 0.7292639501071988, 0.7299432105725363, 0.7306222798043565, 0.7313011580308314, 0.731979845479643, 0.7326583423779918, 0.7333366489525922, 0.7340147654296767, 0.7346926920349978, 0.7353704289938263, 0.7360479765309585, 0.7367253348707117, 0.7374025042369292, 0.738079484852979, 0.7387562769417609, 0.7394328807257001, 0.7401092964267527, 0.7407855242664102, 0.7414615644656956, 0.7421374172451686, 0.7428130828249212, 0.743488561424587, 0.7441638532633394, 0.7448389585598919, 0.7455138775324949, 0.7461886103989499, 0.7468631573765998, 0.7475375186823326, 0.7482116945325868, 0.7488856851433472, 0.7495594907301509, 0.7502331115080837, 0.7509065476917871, 0.7515797994954575, 0.7522528671328447, 0.7529257508172583, 0.7535984507615606, 0.7542709671781808, 0.7549433002791032, 0.7556154502758804, 0.756287417379623, 0.7569592018010091, 0.757630803750282, 0.7583022234372544, 0.758973461071305, 0.7596445168613853, 0.7603153910160151, 0.7609860837432902, 0.7616565952508781, 0.7623269257460238, 0.7629970754355434, 0.7636670445258363, 0.7643368332228793, 0.7650064417322272, 0.7656758702590187, 0.7663451190079734, 0.7670141881833952, 0.7676830779891742, 0.7683517886287852, 0.7690203203052912, 0.7696886732213444, 0.7703568475791863, 0.7710248435806488, 0.7716926614271563, 0.7723603013197281, 0.7730277634589793, 0.7736950480451152, 0.774362155277944, 0.7750290853568698, 0.7756958384808953, 0.7763624148486251, 0.7770288146582649, 0.7776950381076241, 0.7783610853941149, 0.7790269567147539, 0.7796926522661675, 0.7803581722445849, 0.7810235168458485, 0.7816886862654052, 0.782353680698318, 0.783018500339259, 0.7836831453825137, 0.7843476160219804, 0.7850119124511764, 0.7856760348632311, 0.7863399834508948, 0.7870037584065335, 0.7876673599221362, 0.7883307881893081, 0.7889940433992804, 0.7896571257429057, 0.7903200354106611, 0.7909827725926455, 0.7916453374785901, 0.7923077302578471, 0.7929699511194012, 0.7936320002518632, 0.7942938778434767, 0.7949555840821159, 0.7956171191552892, 0.796278483250133, 0.796939676553423, 0.797600699251572, 0.7982615515306218, 0.7989222335762612, 0.7995

In [49]:
calibLength = (endDate-beginning_date+1)/365
df_ns = pd.DataFrame()
df_ns["Constituent ID"] = df_BGNBD["Constituent ID"]
df_ns["T (total time span)"] = df_BGNBD["T (total time span)"]

In [50]:
firstPurch = []
T = df_ns['T (total time span)'].to_list()
for index, row in islice(df_ns.iterrows(), 0, None):
    firstPurch.append(calibLength - T[index])
df_ns['time of 1st purchase'] = (firstPurch)
maxTime = df_ns['time of 1st purchase'].max()
df_ns

      Constituent ID  T (total time span)  time of 1st purchase
0            1927780             3.794521              0.008219
1            1927778             3.791781              0.010959
2            1927784             3.786301              0.016438
3            1927785             3.775342              0.027397
4            1927788             3.767123              0.035616
...              ...                  ...                   ...
2021         1930534             2.638356              1.164384
2022         1929858             2.635616              1.167123
2023         1929859             2.635616              1.167123
2024         1929860             2.635616              1.167123
2025         1929861             2.635616              1.167123

[2026 rows x 3 columns]

In [51]:
weekUntil = (predict_thru - beginning_date)/7
df_sls_top = pd.DataFrame()
trialDon = []
numDon = []
i = 1/365
while (i<=maxTime):
    trialDon.append(i)
    numDon.append(df_ns.loc[(df_ns['time of 1st purchase'] >= i-.001) & (df_ns['time of 1st purchase'] < i+.001)].count()[0])
    i = i + 1/365
df_sls_top["Time of Trial Donation"] = trialDon
df_sls_top["Number of Donors"] = numDon
df_sls_top

     Time of Trial Donation  Number of Donors
0                  0.002740                 0
1                  0.005479                 0
2                  0.008219                 1
3                  0.010959                 1
4                  0.013699                 0
..                      ...               ...
420                1.153425                 0
421                1.156164                 3
422                1.158904                 0
423                1.161644                 1
424                1.164384                 6

[425 rows x 2 columns]

In [52]:
df_sls = pd.DataFrame()
df_sls['t'] = t
df_sls['Cum. Rpt.'] = ""
df_sls['E(X(t))'] = ext
df_sls

             t Cum. Rpt.   E(X(t))
0     0.002740            0.001150
1     0.005479            0.002297
2     0.008219            0.003443
3     0.010959            0.004586
4     0.013699            0.005728
...        ...       ...       ...
2770  7.591781            1.805653
2771  7.594521            1.806151
2772  7.597260            1.806649
2773  7.600000            1.807146
2774  7.602740            1.807644

[2775 rows x 3 columns]

In [53]:
slsCount = 0
slsCols = []
while (slsCount < df_sls_top.count()[0]):
    for index, rows in islice(df_sls.iterrows(), 0, None):
        if (df_sls.iloc[index, 0] <= df_sls_top["Time of Trial Donation"][slsCount]):
            slsCols.append(0)
        else:
            indx = 365*(df_sls.iloc[index, 0]-df_sls_top["Time of Trial Donation"][slsCount])
            slsCols.append(ext[round(indx)-1])
    df_sls[str(slsCount)] = slsCols
    slsCount = slsCount+1
    slsCols = []
df_sls

,t,Cum. Rpt.,E(X(t)),0,1,2,3,4,5,6,...,415,416,417,418,419,420,421,422,423,424
0,0.002740,,0.001150,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.005479,,0.002297,0.001150,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.008219,,0.003443,0.002297,0.001150,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.010959,,0.004586,0.003443,0.002297,0.001150,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.013699,,0.005728,0.004586,0.003443,0.002297,0.001150,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2770,7.591781,,1.805653,1.805156,1.804658,1.804160,1.803662,1.803164,1.802666,1.802168,...,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178,1.590656,1.590134,1.589612,1.589090
2771,7.594521,,1.806151,1.805653,1.805156,1.804658,1.804160,1.803662,1.803164,1.802666,...,1.594308,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178,1.590656,1.590134,1.589612
2772,7.597260,,1.806649,1.806151,1.805653,1.805156,1.804658,1.804160,1.803662,1.803164,...,1.594830,1.594308,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178,1.590656,1.590134
2773,7.600000,,1.807146,1.806649,1.806151,1.805653,1.805156,1.804658,1.804160,1.803662,...,1.595351,1.594830,1.594308,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178,1.590656
2774,7.602740,,1.807644,1.807146,1.806649,1.806151,1.805653,1.805156,1.804658,1.804160,...,1.595873,1.595351,1.594830,1.594308,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178

In [54]:
df_save1 = df_sls

In [55]:
# cumRpt = []
# cumColCnt = 0
# #for c in range(df_sls_top.count()[0]):
# print(df_sls.iloc[0, 3:-1])
# print(df_sls_top["Time of Trial Donation"])
# print(df_sls.iloc[0, 3:-1] * df_sls_top["Time of Trial Donation"])
# #for r in range (df_sls.count()[0]):
#     #print((df_sls.iloc[r, 3:-1] * df_sls_top["Time of Trial Donation"]))
#     #cumRpt.append(sum(df_sls.iloc[r, 3:-1] * df_sls_top["Time of Trial Donation"]))
# df_sls["Cum. Rpt"] = cumRpt
# df_sls
cumRpt = []
cumRptSum = 0
#print(df_sls_top["Number of Donors"])
#print(df_sls.iloc[1,3:-1].astype('float64'))
#print (df_sls_top["Number of Donors"].multiply((df_sls.iloc[0,3:-1].astype('float64')), level = 0))
for index, rows in islice(df_sls.iterrows(), 0, None):
    i = 0
    cumRptSum = 0
    #print(cumRptSum + df_sls.iloc[index, i+3])
    #print(numDon[i])
    while (i<df_sls_top.count()[0]): 
        cumRptSum = cumRptSum + df_sls.iloc[index, i+3] * numDon[i]
        i = i+1
    cumRpt.append(cumRptSum)
    #print(cumRptSum)
df_sls["Cum. Rpt."] = cumRpt
df_sls

,t,Cum. Rpt.,E(X(t)),0,1,2,3,4,5,6,...,415,416,417,418,419,420,421,422,423,424
0,0.002740,0.000000,0.001150,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.005479,0.000000,0.002297,0.001150,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.008219,0.000000,0.003443,0.002297,0.001150,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.010959,0.001150,0.004586,0.003443,0.002297,0.001150,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.013699,0.003447,0.005728,0.004586,0.003443,0.002297,0.001150,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2770,7.591781,3450.057178,1.805653,1.805156,1.804658,1.804160,1.803662,1.803164,1.802666,1.802168,...,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178,1.590656,1.590134,1.589612,1.589090
2771,7.594521,3451.085485,1.806151,1.805653,1.805156,1.804658,1.804160,1.803662,1.803164,1.802666,...,1.594308,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178,1.590656,1.590134,1.589612
2772,7.597260,3452.113677,1.806649,1.806151,1.805653,1.805156,1.804658,1.804160,1.803662,1.803164,...,1.594830,1.594308,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178,1.590656,1.590134
2773,7.600000,3453.141754,1.807146,1.806649,1.806151,1.805653,1.805156,1.804658,1.804160,1.803662,...,1.595351,1.594830,1.594308,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178,1.590656
2774,7.602740,3454.169716,1.807644,1.807146,1.806649,1.806151,1.805653,1.805156,1.804658,1.804160,...,1.595873,1.595351,1.594830,1.594308,1.593787,1.593265,1.592743,1.592222,1.591700,1.591178

In [56]:
df_checkCumRpt = pd.DataFrame()
week = list(range(1, int(weekUntil)+1))
df_checkCumRpt["week"] = week
df_checkCumRpt

     week
0       1
1       2
2       3
3       4
4       5
..    ...
391   392
392   393
393   394
394   395
395   396

[396 rows x 1 columns]

In [57]:
checkDon = [cumRpt[6]]
checkWeekDon = [checkDon[0]]
weekCount = 2
while (weekCount <= weekUntil):
    checkDon.append(cumRpt[7*weekCount-1])
    checkWeekDon.append(checkDon[weekCount-1] - checkDon[weekCount-2])
    weekCount = weekCount + 1
df_checkCumRpt["Cum. Rpt. Dons."] = checkDon
df_checkCumRpt["Weekly Rpt. Dons."] = checkWeekDon
df_checkCumRpt

     week  Cum. Rpt. Dons.  Weekly Rpt. Dons.
0       1         0.009179           0.009179
1       2         0.039975           0.030796
2       3         0.096740           0.056765
3       4         0.202092           0.105352
4       5         0.360013           0.157921
..    ...              ...                ...
391   392      3422.249158           7.223329
392   393      3429.466770           7.217611
393   394      3436.678682           7.211913
394   395      3443.884915           7.206232
395   396      3451.085485           7.200571

[396 rows x 3 columns]

In [58]:
startDate = [beginning_date]
endDate = [startDate[0] + 6]
for index, row in islice(df_checkCumRpt.iterrows(), 1, None):
    startDate.append(startDate[index-1]+7)
    endDate.append(endDate[index-1]+7)
df_checkCumRpt['week start'] = (startDate)
df_checkCumRpt['end'] = (endDate)
df_checkCumRpt

     week  Cum. Rpt. Dons.  Weekly Rpt. Dons.  week start      end
0       1         0.009179           0.009179     40544.0  40550.0
1       2         0.039975           0.030796     40551.0  40557.0
2       3         0.096740           0.056765     40558.0  40564.0
3       4         0.202092           0.105352     40565.0  40571.0
4       5         0.360013           0.157921     40572.0  40578.0
..    ...              ...                ...         ...      ...
391   392      3422.249158           7.223329     43281.0  43287.0
392   393      3429.466770           7.217611     43288.0  43294.0
393   394      3436.678682           7.211913     43295.0  43301.0
394   395      3443.884915           7.206232     43302.0  43308.0
395   396      3451.085485           7.200571     43309.0  43315.0

[396 rows x 5 columns]

In [59]:
t = [0]
t2 = [6/365]
for index, row in islice(df_checkCumRpt.iterrows(), 1, None):
    t.append(t[index-1]+7/365)
    t2.append(t2[index-1]+7/365)
df_checkCumRpt["num rpt don"] = ""
df_checkCumRpt["cumul."] = ""
df_checkCumRpt['t'] = (t)
df_checkCumRpt['t2'] = (t2)
df_checkCumRpt

,week,Cum. Rpt. Dons.,Weekly Rpt. Dons.,week start,end,num rpt don,cumul.,t,t2
0,1,0.009179,0.009179,40544.0,40550.0,,,0.000000,0.016438
1,2,0.039975,0.030796,40551.0,40557.0,,,0.019178,0.035616
2,3,0.096740,0.056765,40558.0,40564.0,,,0.038356,0.054795
3,4,0.202092,0.105352,40565.0,40571.0,,,0.057534,0.073973
4,5,0.360013,0.157921,40572.0,40578.0,,,0.076712,0.093151
...,...,...,...,...,...,...,...,...,...
391,392,3422.249158,7.223329,43281.0,43287.0,,,7.498630,7.515068
392,393,3429.466770,7.217611,43288.0,43294.0,,,7.517808,7.534247
393,394,3436.678682,7.211913,43295.0,43301.0,,,7.536986,7.553425
394,395,3443.884915,7.206232,43302.0,43308.0,,,7.556164,7.572603
395,396,3451.085485,7.200571,43309.0,43315.0,,,7.575342,7.591781

In [60]:
numRpt = []
cummul = []
weekStart = df_checkCumRpt['week start'].tolist()
weekEnd = df_checkCumRpt['end'].tolist()
t = df_checkCumRpt['t'].tolist()
t2 = df_checkCumRpt['t2'].tolist()
count99 = 0
countTotal99 = 0
for index, row in islice(df_checkCumRpt.iterrows(), 0, None):
    count99 = count99 + len(dfraw2.loc[(dfraw2['Gift Date']>=weekStart[index]) & (dfraw2['Gift Date']<=weekEnd[index])])
    count99 = count99 - len(df_ns.loc[df_ns['time of 1st purchase']>=(t[index]-.001)])
    count99 = count99 + len(df_ns.loc[df_ns['time of 1st purchase']>(t2[index]+.001)])
    countTotal99 = countTotal99+count99
    numRpt.append(count99)
    cummul.append(countTotal99)
    count99 = 0
df_checkCumRpt["num rpt don"] = numRpt
df_checkCumRpt["cumul."] = cummul
df_checkCumRpt

,week,Cum. Rpt. Dons.,Weekly Rpt. Dons.,week start,end,num rpt don,cumul.,t,t2
0,1,0.009179,0.009179,40544.0,40550.0,3,3,0.000000,0.016438
1,2,0.039975,0.030796,40551.0,40557.0,3,6,0.019178,0.035616
2,3,0.096740,0.056765,40558.0,40564.0,0,6,0.038356,0.054795
3,4,0.202092,0.105352,40565.0,40571.0,0,6,0.057534,0.073973
4,5,0.360013,0.157921,40572.0,40578.0,3,9,0.076712,0.093151
...,...,...,...,...,...,...,...,...,...
391,392,3422.249158,7.223329,43281.0,43287.0,6,3539,7.498630,7.515068
392,393,3429.466770,7.217611,43288.0,43294.0,7,3546,7.517808,7.534247
393,394,3436.678682,7.211913,43295.0,43301.0,6,3552,7.536986,7.553425
394,395,3443.884915,7.206232,43302.0,43308.0,0,3552,7.556164,7.572603
395,396,3451.085485,7.200571,43309.0,43315.0,5,3557,7.575342,7.591781

In [61]:
df_allCondExp = df_BGNBD.iloc[:,0:5].copy(deep=True)
endDate = beginning_date + .5*(predict_thru-beginning_date)
constT = (predict_thru - endDate)/365
df_allCondExp['t'] = constT
df_allCondExp["E(Y(t)|X=x,t_x,T)"] = ""
df_allCondExp["2F1"] = 0
df_allCondExp["a"] = df_allCondExp.iloc[:,2]+r
df_allCondExp["b"] = df_allCondExp.iloc[:,2] + b
df_allCondExp["c"] = df_allCondExp.iloc[:,2] + b + a - 1
df_allCondExp["z"] = constT/(alpha + df_allCondExp.iloc[:,4] + constT)
df_allCondExp['0'] = 1
df_allCondExp

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span),t,"E(Y(t)|X=x,t_x,T)",2F1,a,b,c,z,0
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521,3.8,,0,25.147642,26.366944,25.694801,0.478222,1
1,1927778,"Ayika, Christopher",0,0.000000,3.791781,3.8,,0,0.147642,1.366944,0.694801,0.478387,1
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301,3.8,,0,6.147642,7.366944,6.694801,0.478717,1
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342,3.8,,0,0.147642,1.366944,0.694801,0.479379,1
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123,3.8,,0,3.147642,4.366944,3.694801,0.479877,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356,3.8,,0,0.147642,1.366944,0.694801,0.559652,1
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616,3.8,,0,3.147642,4.366944,3.694801,0.559878,1
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616,3.8,,0,0.147642,1.366944,0.694801,0.559878,1
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616,3.8,,0,0.147642,1.366944,0.694801,0.559878,1
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616,3.8,,0,0.147642,1.366944,0.694801,0.559878,1

In [62]:
aceCount = 1
aceArr = []
while (aceCount <= 200):
    df_allCondExp[str(aceCount)]=df_allCondExp.iloc[:,aceCount+11]*(df_allCondExp.iloc[:,8]+aceCount-1)*(df_allCondExp.iloc[:,9]+aceCount-1)/((df_allCondExp.iloc[:,10]+aceCount-1)*aceCount)*df_allCondExp.iloc[:,11]
    aceCount = aceCount + 1
df_allCondExp

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span),t,"E(Y(t)|X=x,t_x,T)",2F1,a,b,...,191,192,193,194,195,196,197,198,199,200
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521,3.8,,0,25.147642,26.366944,...,1.511397e-29,8.162111e-30,4.405234e-30,2.376185e-30,1.280970e-30,6.901561e-31,3.716276e-31,1.999968e-31,1.075710e-31,5.782641e-32
1,1927778,"Ayika, Christopher",0,0.000000,3.791781,3.8,,0,0.147642,1.366944,...,6.213219e-63,2.969505e-63,1.419233e-63,6.783054e-64,3.241896e-64,1.549441e-64,7.405475e-65,3.539427e-65,1.691667e-65,8.085353e-66
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301,3.8,,0,6.147642,7.366944,...,3.008439e-51,1.483832e-51,7.317493e-52,3.608065e-52,1.778777e-52,8.768080e-53,4.321395e-53,2.129514e-53,1.049240e-53,5.169010e-54
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342,3.8,,0,0.147642,1.366944,...,9.229022e-63,4.420005e-63,2.116859e-63,1.013826e-63,4.855532e-64,2.325479e-64,1.113756e-64,5.334205e-65,2.554768e-65,1.223588e-65
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123,3.8,,0,3.147642,4.366944,...,6.456413e-56,3.143755e-56,1.530642e-56,7.451886e-57,3.627664e-57,1.765860e-57,8.595167e-58,4.183324e-58,2.035907e-58,9.907503e-59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356,3.8,,0,0.147642,1.366944,...,6.423878e-50,3.591727e-50,2.008221e-50,1.122850e-50,6.278187e-51,3.510337e-51,1.962752e-51,1.097448e-51,6.136274e-52,3.431053e-52
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616,3.8,,0,3.147642,4.366944,...,3.981592e-43,2.261923e-43,1.284891e-43,7.298318e-44,4.145217e-44,2.354183e-44,1.336909e-44,7.591590e-45,4.310553e-45,2.447388e-45
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616,3.8,,0,0.147642,1.366944,...,6.938639e-50,3.881107e-50,2.170896e-50,1.214296e-50,6.792230e-51,3.799288e-51,2.125172e-51,1.188743e-51,6.649423e-52,3.719477e-52
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616,3.8,,0,0.147642,1.366944,...,6.938639e-50,3.881107e-50,2.170896e-50,1.214296e-50,6.792230e-51,3.799288e-51,2.125172e-51,1.188743e-51,6.649423e-52,3.719477e-52
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616,3.8,,0,0.147642,1.366944,...,6.938639e-50,3.881107e-50,2.170896e-50,1.214296e-50,6.792230e-51,3.799288e-51,2.125172e-51,1.188743e-51,6.649423e-52,3.719477e-52

In [63]:
aceCount1 = 0
while (aceCount1 <= 200):
    df_allCondExp["2F1"] = df_allCondExp["2F1"]+df_allCondExp.iloc[:,aceCount1+12]
    aceCount1 = aceCount1 + 1
df_allCondExp

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span),t,"E(Y(t)|X=x,t_x,T)",2F1,a,b,...,191,192,193,194,195,196,197,198,199,200
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521,3.8,,1.956437e+07,25.147642,26.366944,...,1.511397e-29,8.162111e-30,4.405234e-30,2.376185e-30,1.280970e-30,6.901561e-31,3.716276e-31,1.999968e-31,1.075710e-31,5.782641e-32
1,1927778,"Ayika, Christopher",0,0.000000,3.791781,3.8,,1.233707e+00,0.147642,1.366944,...,6.213219e-63,2.969505e-63,1.419233e-63,6.783054e-64,3.241896e-64,1.549441e-64,7.405475e-65,3.539427e-65,1.691667e-65,8.085353e-66
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301,3.8,,8.274242e+01,6.147642,7.366944,...,3.008439e-51,1.483832e-51,7.317493e-52,3.608065e-52,1.778777e-52,8.768080e-53,4.321395e-53,2.129514e-53,1.049240e-53,5.169010e-54
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342,3.8,,1.234547e+00,0.147642,1.366944,...,9.229022e-63,4.420005e-63,2.116859e-63,1.013826e-63,4.855532e-64,2.325479e-64,1.113756e-64,5.334205e-65,2.554768e-65,1.223588e-65
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123,3.8,,1.154858e+01,3.147642,4.366944,...,6.456413e-56,3.143755e-56,1.530642e-56,7.451886e-57,3.627664e-57,1.765860e-57,8.595167e-58,4.183324e-58,2.035907e-58,9.907503e-59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356,3.8,,1.312902e+00,0.147642,1.366944,...,6.423878e-50,3.591727e-50,2.008221e-50,1.122850e-50,6.278187e-51,3.510337e-51,1.962752e-51,1.097448e-51,6.136274e-52,3.431053e-52
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616,3.8,,2.166158e+01,3.147642,4.366944,...,3.981592e-43,2.261923e-43,1.284891e-43,7.298318e-44,4.145217e-44,2.354183e-44,1.336909e-44,7.591590e-45,4.310553e-45,2.447388e-45
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616,3.8,,1.313157e+00,0.147642,1.366944,...,6.938639e-50,3.881107e-50,2.170896e-50,1.214296e-50,6.792230e-51,3.799288e-51,2.125172e-51,1.188743e-51,6.649423e-52,3.719477e-52
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616,3.8,,1.313157e+00,0.147642,1.366944,...,6.938639e-50,3.881107e-50,2.170896e-50,1.214296e-50,6.792230e-51,3.799288e-51,2.125172e-51,1.188743e-51,6.649423e-52,3.719477e-52
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616,3.8,,1.313157e+00,0.147642,1.366944,...,6.938639e-50,3.881107e-50,2.170896e-50,1.214296e-50,6.792230e-51,3.799288e-51,2.125172e-51,1.188743e-51,6.649423e-52,3.719477e-52

In [64]:
longNameArr = []
#((a+b+df_allCondExp.iloc[:,2]-1)/(a-1)*(1-pow(((alpha+df_allCondExp.iloc[:,4])/(alpha+df_allCondExp.iloc[:,4]+df_allCondExp.iloc[:,5])),(r+df_allCondExp.iloc[:,2]))*df_allCondExp.iloc[:,7])/(1+(df_allCondExp.iloc[:,2]>0)*a/(b+df_allCondExp.iloc[:,2]-1)*pow(((alpha+df_allCondExp.iloc[:,4])/(alpha+df_allCondExp.iloc[:,3])),(r+df_allCondExp.iloc[:,2]))))
for index, row in islice(df_allCondExp.iterrows(), 0, None):
    longNameArr.append((a+b+df_allCondExp.iloc[index,2]-1)/(a-1)*(1-pow(((alpha+df_allCondExp.iloc[index,4])/(alpha+df_allCondExp.iloc[index,4]+df_allCondExp.iloc[index,5])),(r+df_allCondExp.iloc[index,2]))*df_allCondExp.iloc[index,7])/(1+(df_allCondExp.iloc[index,2]>0)*a/(b+df_allCondExp.iloc[index,2]-1)*pow(((alpha+df_allCondExp.iloc[index,4])/(alpha+df_allCondExp.iloc[index,3])),(r+df_allCondExp.iloc[index,2]))))
df_allCondExp["E(Y(t)|X=x,t_x,T)"] = longNameArr
df_allCondExp

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span),t,"E(Y(t)|X=x,t_x,T)",2F1,a,b,...,191,192,193,194,195,196,197,198,199,200
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521,3.8,12.866621,1.956437e+07,25.147642,26.366944,...,1.511397e-29,8.162111e-30,4.405234e-30,2.376185e-30,1.280970e-30,6.901561e-31,3.716276e-31,1.999968e-31,1.075710e-31,5.782641e-32
1,1927778,"Ayika, Christopher",0,0.000000,3.791781,3.8,0.124746,1.233707e+00,0.147642,1.366944,...,6.213219e-63,2.969505e-63,1.419233e-63,6.783054e-64,3.241896e-64,1.549441e-64,7.405475e-65,3.539427e-65,1.691667e-65,8.085353e-66
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301,3.8,0.000299,8.274242e+01,6.147642,7.366944,...,3.008439e-51,1.483832e-51,7.317493e-52,3.608065e-52,1.778777e-52,8.768080e-53,4.321395e-53,2.129514e-53,1.049240e-53,5.169010e-54
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342,3.8,0.125209,1.234547e+00,0.147642,1.366944,...,9.229022e-63,4.420005e-63,2.116859e-63,1.013826e-63,4.855532e-64,2.325479e-64,1.113756e-64,5.334205e-65,2.554768e-65,1.223588e-65
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123,3.8,2.210314,1.154858e+01,3.147642,4.366944,...,6.456413e-56,3.143755e-56,1.530642e-56,7.451886e-57,3.627664e-57,1.765860e-57,8.595167e-58,4.183324e-58,2.035907e-58,9.907503e-59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356,3.8,0.168666,1.312902e+00,0.147642,1.366944,...,6.423878e-50,3.591727e-50,2.008221e-50,1.122850e-50,6.278187e-51,3.510337e-51,1.962752e-51,1.097448e-51,6.136274e-52,3.431053e-52
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616,3.8,3.084396,2.166158e+01,3.147642,4.366944,...,3.981592e-43,2.261923e-43,1.284891e-43,7.298318e-44,4.145217e-44,2.354183e-44,1.336909e-44,7.591590e-45,4.310553e-45,2.447388e-45
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616,3.8,0.168808,1.313157e+00,0.147642,1.366944,...,6.938639e-50,3.881107e-50,2.170896e-50,1.214296e-50,6.792230e-51,3.799288e-51,2.125172e-51,1.188743e-51,6.649423e-52,3.719477e-52
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616,3.8,0.168808,1.313157e+00,0.147642,1.366944,...,6.938639e-50,3.881107e-50,2.170896e-50,1.214296e-50,6.792230e-51,3.799288e-51,2.125172e-51,1.188743e-51,6.649423e-52,3.719477e-52
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616,3.8,0.168808,1.313157e+00,0.147642,1.366944,...,6.938639e-50,3.881107e-50,2.170896e-50,1.214296e-50,6.792230e-51,3.799288e-51,2.125172e-51,1.188743e-51,6.649423e-52,3.719477e-52

In [65]:
df_pAlive = df_BGNBD.iloc[:,0:5].copy(deep=True)
paliveinfo = []
for index, row in islice(df_allCondExp.iterrows(), 0, None):
    paliveinfo.append(1/(1+(df_pAlive.iloc[index,2]>0)*(a/(b+df_pAlive.iloc[index,2]-1))*(pow(((alpha+df_pAlive.iloc[index,4])/(alpha+df_pAlive.iloc[index,3])),(r+df_pAlive.iloc[index,2])))))
df_pAlive["P(Alive) Info"] = paliveinfo
df_pAlive

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span),P(Alive) Info
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521,0.625862
1,1927778,"Ayika, Christopher",0,0.000000,3.791781,1.000000
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301,0.000059
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342,1.000000
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123,0.845659
...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356,1.000000
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616,0.882222
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616,1.000000
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616,1.000000
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616,1.000000

In [66]:
actNonlap = []
df_pAlive["Active"] = ~dfdp2["Inactive?"]*1
for index, row in islice(df_pAlive.iterrows(), 0, None):
    if df_pAlive.iloc[index,6] == 0:
        actNonlap.append(0)
    else:
        if (df_pAlive.iloc[index,4]-df_pAlive.iloc[index,3])>2:
            actNonlap.append(0)
        else:
            actNonlap.append(1)
df_pAlive["Act/Nonlap"] = actNonlap
df_pAlive

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span),P(Alive) Info,Active,Act/Nonlap
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521,0.625862,1,1
1,1927778,"Ayika, Christopher",0,0.000000,3.791781,1.000000,0,0
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301,0.000059,0,0
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342,1.000000,0,0
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123,0.845659,1,1
...,...,...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356,1.000000,0,0
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616,0.882222,1,1
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616,1.000000,0,0
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616,1.000000,0,0
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616,1.000000,0,0

In [67]:
df_onlyx = df_pAlive.copy(deep=True)
df_onlyx

,Constituent ID,Name,x (#donations),t_x (last gift),T (total time span),P(Alive) Info,Active,Act/Nonlap
0,1927780,"Angeles, Joey D.",25,3.208219,3.794521,0.625862,1,1
1,1927778,"Ayika, Christopher",0,0.000000,3.791781,1.000000,0,0
2,1927784,"Boland, Patrick T.",6,0.172603,3.786301,0.000059,0,0
3,1927785,"Callahan, Patrick J.",0,0.000000,3.775342,1.000000,0,0
4,1927788,"Rowell, Esperanza",3,3.021918,3.767123,0.845659,1,1
...,...,...,...,...,...,...,...,...
2021,1930534,"Chmielarczyk, Allison",0,0.000000,2.638356,1.000000,0,0
2022,1929858,"Grove, Karen E.",3,2.350685,2.635616,0.882222,1,1
2023,1929859,"Leipr, Michael H.",0,0.000000,2.635616,1.000000,0,0
2024,1929860,"Foy, Charles B.",0,0.000000,2.635616,1.000000,0,0
2025,1929861,"Keenan, Jonathan",0,0.000000,2.635616,1.000000,0,0

In [68]:
dfraw2.to_excel(writer, 'Raw data2', index = False)
dfraw1.to_excel(writer, 'Raw data1', index = False)
dfraw1.to_excel(writer, 'Data prep1', index = False)
dfdp2.to_excel(writer, 'Data prep2', index = False)
dfmd.to_excel(writer, 'Model data', index = False)
df_BGNBD.to_excel(writer, "BGNBD Estimation", index = False)
df_ext.to_excel(writer, "E(X(t))", index = False)
df_ns.to_excel(writer, "n_s", index=False)
df_sls.to_excel(writer, "CumRptSls", index=False)
df_checkCumRpt.to_excel(writer, "Check CumRpt", index=False)
df_allCondExp.to_excel(writer, "All Cond. Exp.", index=False)
df_pAlive.to_excel(writer, "P(alive)", index=False)
df_onlyx.to_excel(writer, "only x>0", index=False)
writer.save()